body {
  background-image: url(../Imagenes/Celupop1.jpg);
  background-size: 25%; }
  body .contact-form {
    margin: 24px auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: yellow;
    border-radius: 15px;
    border: 8px solid #5B1DC2;
    padding: 5px;
    max-width: 600px; }
    body .contact-form .form-row label {
      font-size: 45px;
      font-family: "Bangers", cursive;
      color: #FF00FF;
      -webkit-text-stroke: 2px #5B1DC2;
      border-radius: 20px;
      width: 100%; }
    body .contact-form .form-row input,
    body .contact-form .form-row textarea {
      font-family: "Share Tech Mono", monospace;
      padding: 6px;
      color: yellow;
      font-size: 20px;
      font-weight: bold;
      background-color: #FF00FF;
      border-radius: 20px;
      border: 5px solid #5B1DC2;
      width: 100%;
      box-sizing: border-box; }
    body .contact-form .form-row ::placeholder {
      font-family: 'Share Tech Mono', monospace;
      color: lightpink; }
    body .contact-form .form-row button {
      width: 300px;
      margin: 4px auto;
      border-radius: 40px;
      font-family: "Bangers", cursive;
      font-size: 40px;
      color: yellow;
      background-color: #5B1DC2;
      -webkit-text-stroke: 1px #FF00FF;
      margin-bottom: 4px;
      display: block;
      box-sizing: border-box; }
    body .contact-form .form-row input:focus,
    body .contact-form .form-row textarea:focus,
    body .contact-form .form-row button:focus {
      outline: transparent; }
    body .contact-form .form-row input[type="email"]:invalid {
      color: chartreuse;
      border: 5px solid #5B1DC2; }
  body footer {
    text-align: center; }
    body footer button {
      background: white;
      border-radius: 15px;
      border: 4px solid #5B1DC2;
      margin-bottom: 4px; }
      body footer button:hover {
        transform: scale(1.5);
        font-size: 30px; }
      body footer button a {
        text-decoration: none;
        font-family: "Monofett", cursive;
        color: #FF00FF;
        font-size: 30px; }

/*Mobile and Tablet Style*/
@media only screen and (max-width: 960px) {
  footer button {
    transform: none; }
    footer button a {
      font-size: 25px; }
  body {
    background-size: 50%; }
    body .contact-form {
      width: 90%;
      box-sizing: border-box; }
      body .contact-form .form-row {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap; }
        body .contact-form .form-row label {
          font-size: 28px; }
        body .contact-form .form-row input,
        body .contact-form .form-row textarea {
          padding: 6px;
          color: yellow;
          font-size: 12px; }
        body .contact-form .form-row textarea {
          font-weight: bold; }
        body .contact-form .form-row button {
          font-size: 24px; } }
