body {
  background-image: url(../Imagenes/popsurprise.jpg);
  background-size: 50%;
  /*Mobile and Tablet Style*/ }
  body .kinder {
    width: 100%;
    display: flex;
    justify-content: center; }
    body .kinder #foto-kinder {
      width: 0;
      height: 0;
      margin-top: 24px;
      animation-name: slidein;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-direction: reverse;
      animation-timing-function: linear; }
      body .kinder #foto-kinder:hover {
        animation-play-state: paused; }

@keyframes slidein {
  0% {
    width: 400px;
    height: 400px; } }

@-webkit-keyframes slidein {
  0% {
    width: 400px;
    height: 400px; } }
  @media only screen and (max-width: 960px) {
    body .kinder #foto-kinder {
      margin-top: 0; }
    @keyframes slidein {
      0% {
        width: 280px;
        height: 280px; } }
    @-webkit-keyframes slidein {
      0% {
        width: 280px;
        height: 280px; } } }
