* {
    margin: 0;
    padding: 0;
}

@import 'base/color';
@import 'base/font';

@mixin encabezados {
    font-family:$fontfamilymono;
    color: $colorsecundario;
    text-align: center;
    background-color: $colorprimario;
    border: 4px solid $colorsecundario;
    border-radius: 15px;
    width: 40%;
    margin: 15px; 
}
    
h1 {
    @include encabezados;
    font-size: 50px;
}

h2 {
    @include encabezados;
    font-size: 30px;
    margin-top: 0;
}

.header-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 14px auto;
    .navbar {
        text-align: center;
        margin-top: 24px;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        a{
            color: $colorprimario;
            font-family: $fontfamilycursive;
            text-decoration: none;
            font-size: 25px;
            background-color: transparent; 
            margin: 4px 6px;
            background-color: $colorsecundario;
            border: 4px solid $colorterciario;
            border-radius: 15px;
            padding:10px;
            &:hover{
                transform: scale(1);
                -webkit-transform: scale(1);
                font-size: 40px;
                color:$colorprimario;
                transition: font-size 1s;
                -webkit-transition: font-size 1s;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    margin: 24px 10%;
    .sobre-mi {
        color:$colorterciario;
        font-family: $fontfamilytecno;
        font-size: 20px;
        text-align: left;
        background-color: $colorcuaternario;
        padding: 24px;
        border: solid 10px $colorterciario; 
        border-style: outset;
        display: inline-block;
        width: 56%;
    }
}


/*Mobile and Tablet Style*/

@media only screen and (max-width: 960px) {

    .header-container{
        max-width: 600px;
        .navbar{
            margin-top: 0;
            a {
                padding: 4px;
                font-size: 20px;
                margin: 4px;
            }
        }
    }

    h1{
        font-size: 26px;
        padding: 8px;
        width: auto;
    }

    h2{
        font-size:22px;
        padding: 8px;
    }

    .container{
        display:flex;
        flex-wrap:wrap-reverse;
        justify-content: center;
        margin-top: 0%;
        .sobre-mi{
            font-size: 14px;
            width:auto
        }
    }

}
