body{
    background-image: url(../Imagenes/popsurprise.jpg);
    background-size: 50%;
}

#foto-kinder{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 700px;

    animation-name: slidein;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: reverse;
    animation-timing-function: linear;
}

#foto-kinder:hover{
  animation-play-state:paused;
}

@keyframes slidein{
  0% {
    width: 400px;
    height: 400px;
  }

}

@-webkit-keyframes slidein{
    0% {
        width: 400px;
        height: 400px;
      }
}

