@import 'base/color';
@import 'base/font';

body{
    background-image: url(../Imagenes/yopopportfolio.jpg);
    background-size: 25%;
}

section{
    text-align: center;
}

section button a {
    text-decoration: none;
    font-family:$fontfamilybangers;
    color: $colorterciario;
    font-size: 50px;
    padding: 6px;
}

section button {
    background: $colorprimario;
    border-radius: 15px;
    border: 4px solid $colorsecundario;
}

section button a:hover{
    transform: scale(1.5);
    font-size: 80px;
}

/*Mobile and Tablet Style*/

@media only screen and (max-width: 960px) {
    section button a{
        font-size: 26px;
        padding: 10px;
    }

    body{
        background-size: 95%;
    }

    h1{
        font-size: 24px;
        padding: 14px;
    }
}
