$fontfamilymono: 'Major Mono Display', monospace;
$fontfamilycursive: 'Monoton', cursive;
$fontfamilybangers: 'Bangers', cursive;
$fontfamilytecno: 'Share Tech Mono', monospace;
$fontfamilyfett: 'Monofett', cursive;